// Colours
$bg-low: #2C2C2C;
$bg-mid: #595959;
$bg-high: #404040;
$bg-alt: #000000;

$fg-muted: #dedede;
$fg-normal: #DEDEDE;
$fg-highlight: #FFFFFF;
$fg-link: #4EB8FF;

$theme-primary: #FFBB00;
$theme-secondary: #CE80FD;
$theme-tertiary: #14FEB7;
$theme-quaternary: #FF16CC;


body {
    color: $fg-normal;
    background: $bg-low;
}

header {
    background: $bg-high;
}